html {scroll-behavior: smooth;}

body {
    margin: 0px 0px;
}


a {text-decoration: none;}

h1 {font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: x-large;
    color: black;
}

h2{font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: x-large;
    color: black;}

p {font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    font-size: x-large;
    color: black;
}

main{
    z-index: -1;
}

.next-placement {    
    bottom: 1px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

#Présentation .next-placement {
    position: relative;
}

.next { 
    font-size: 24px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    MARGIN: -2px;
}

#Accueil .next {
    padding: 22px 107.8PX;
    border-left: 2px solid white;
    border-right: 2px solid white;
    color: white;
    border-radius: 0px;
    transition: 400ms ease;
    display: var(--fa-display,inline-block);
}

#Accueil .next:hover {background: white;
    color: black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#Présentation .next{
    padding: 22px 113.4PX;
    border-left: 2px solid black;
    border-right: 2px solid black;
    color: black;
}

#Présentation .next:HOVER {
    background: black;
    color: #fff;
}
#Mon-parcours .next {
    padding: 22px 107.8PX;
    border-left: 2px solid white;
    border-right: 2px solid white;
    color: white;
}

#Mon-parcours .next:hover {background: white;
    color: black;}
    

.nav-button {display: flex;
align-items: center;
padding: 10PX 0px;}

.nav-button button {
    border-right: #fff 1px solid;
    height: 25px;
    DISPLAY: FLEX;
    align-items: center;
    PADDING: 0px 20PX;
    margin-top: -1px;

}
.fa-house:before {
    padding: 0px 19.93px;
}

.a-propos-title {
    display: flex;
    position: relative;
    justify-content: center;
}

.a-propos-title h1 {
    color: white;
    font-size: 30px;
    text-align: 0 1px 1px;
    margin: -2px 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 14.8px 24px; 
    border-left: 2px solid white;
    border-right: 2px solid WHITE;
}

.presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    PADDING: 50px 30px;
    justify-content: space-evenly;
}

.presentation article {
    width: 50%;
}

.presentation img {
    width: 300px;
    height: 400px;
    MARGIN: 10px 10PX -14px -14px;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.25)

}

.presentation-img {
    border: 2px solid white;
}

.techbull #bull1,.techbull #bull2  {
    display: flex;
    justify-content: space-evenly;   
}

.techbull article {
    display: flex;
    align-items: center;
    border-right: solid 1px black;
    width: 300px;
    justify-content: center;
    border-left: 1px solid black;
    border-radius: 80px;
    gap: 10PX;
}

.techbull article:hover {
    color: white;
    background: black;
    font-style: white;
}

.techbull article:hover p {
    color: white;
}

.techbull {
    display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  padding: 40px;
}


.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: black;
    border-bottom-right-radius: 25px;
    align-items: flex-start;
    z-index: 1;

}

button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: x-large;
    
}

.dropdown-menu {
    display: none;
    background-color: transparent;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu a {
    text-decoration: none;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: x-large;
}

.dropdown-menu a:hover {
    text-decoration: underline;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

#section1 {
    overflow: hidden;
}


.landing-page article {
    border: 1px solid white;
    padding: 25px;

}

.landing-page div {display: flex;
    flex-direction: row;
    justify-content: center;
}

.landing-page h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 100px;
    margin: 10px 0px;
    color: transparent;
		text-align: 0 1px 1px;
		-webkit-text-stroke: 2px #fff;
		text-shadow: none;
		transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.landing-page h1:hover {
    transform: scale(1.2);
    color: #fff;
    -webkit-text-stroke: 2px transparent;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.parcours-container {
    background-color: transparent;
    cursor: pointer;
}

#arrow, #arrow2  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    display: none;
}

#arrow1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    display: none;
}



.parcours-title {
    display: flex;
    position: relative;
    justify-content: center;
    
}


.parcours-title h1 {
    color: black;
    font-size: 30px;
    text-align: 0 1px 1px;
    margin: -2px 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 14.8px 22.085px;
    border-left: 2px solid black;
    border-right: 2px solid black;}

.parcours {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: black;
    z-index: 0;
  
}

.parcours-list{
    display: flex;
    flex-direction: row;
    margin: -26px 0px;
    justify-content: space-evenly;
    PADDING: 25vh 0px;
}

.parcours-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.parcours-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parcours-list article  {
    display: flex;
    flex-direction: column;
    width: 420px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 15px 0px;
    align-items: center;
    transition: 400ms ease-in-out;
    PADDING: 0px 15px;
    border-left: white 2px solid;
    border-right: white 2px solid;
    border-radius: 50px;
    
}

.parcours-list article:hover  {
    background: linear-gradient(to left,#ece7e1, #e74c3c, #ff6b6b, #ffa07a);   
}


.parcours-left h2, .parcours-left p,.parcours-left h1 {
    color: #fff;
    margin: 3px;
}

.parcours-right h1 {
    color: white;
    margin: 0px;
}



.parcours-right h2, .parcours-right p {
    color: #fff;
    margin: 3px;
}
 
.parcours-list article:hover h2, .parcours-list article:hover p {
    color: black;
    font-weight: 600;
}

.parcours-list h2 {
    font-size: larger;
}

.parcours-list p {
    font-size: medium;
}



.a-propos {
    position: relative;
    width: 100%;
    height: 100%; /* Ajustez la hauteur selon vos besoins */
    background-color: #ece7e1;
    z-index: 0;
  }

  #Mon-parcours .next {
    padding: 22px 99.8PX;
    border-left: 2px solid white;
    border-right: 2px solid white;
    color: white;}

  .projets {position: relative;
    width: 100%;
    overflow: hidden;
    background-color: black;
    z-index: 0;
  }

  .projets-title {
    display: flex;
    position: relative;
    justify-content: center;
}

.projets-title h1 {
    color: white;
    font-size: 30px;
    text-align: 0 1px 1px;
    margin: -2px 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 14.8px 24px; 
    border-left: 2px solid white;
    border-right: 2px solid WHITE;
}
  /* Styles pour le SVG en fond */
  #svg{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  #svg2 {position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;}

    .projetcardpos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 100px);
        row-gap: 40px;
        column-gap: 40px;
        margin: 100px 0px;
    }

    .projetcard h2,.projetcard p {
        color: white;
        margin: 0px 0px;
    }

.projetcard a {
    text-decoration: none;
    color: #fff;}

    .projetcard {
        border-radius: 25px;
        padding: 10px;
        display: flex;
        align-items: center;
        border-left: white 2px solid;
        border-right: white 2px solid;
        border-radius: 50px;
    }

    .projetbutton {
        
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .projetbutton1 {
        border-left: white 2px solid;
        border-right: white 2px solid;
        border-bottom:  white 1px solid ;
        border-top:  white 2px solid ;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        padding: 4px 10px;
    }

    .projetbutton2 {
        border-left: white 2px solid;
        border-right: white 2px solid;
        border-top: white 1px solid ;
        border-bottom:  white 2px solid ;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        padding: 4px 10px;
    }


    .projettxt {
        padding: left 5px; ;}

@media (max-width: 960px){
    html body {overflow: scroll;
        overflow-x: hidden;
        }
    
        .a-propos-title h1 {
        border-left: white 5px solid;
        border-right: white 5px solid;
        border-radius: 50px;
        margin: 0px;
        padding: 14.8px 40px;   
        }
    
        .next-placement a {display: none;}
    
        .techbull {display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    
        #bull1 {
            flex-direction: column;
            gap:20px;
        }
    
        #bull2 {
            flex-direction: column;
            gap:20px;
        }
    
        .parcours-list {flex-direction: column;
            margin: 100px 40px;
            PADDING: 0px;}
        
        .projetcardpos {display: flex;
            flex-direction: column;
            margin: 100px 30px;
        }
        
        .parcours-title h1 {
        border-left: black 5px solid;
        border-right: black 5px solid;
        border-radius: 50px;
        margin: 0px;
        padding: 14.8px 40px;
        }
    
        .projets-title h1 {
            border-left: white 5px solid;
            border-right: white 5px solid;
            border-radius: 50px;
            margin: 0px;
            padding: 14.8px 40px;
            
        }
    
}



@media (max-width: 768px){

    html body {overflow: scroll;
    overflow-x: hidden;
    }

    .a-propos-title h1 {
    border-left: white 5px solid;
    border-right: white 5px solid;
    border-radius: 50px;
    margin: 0px;
    padding: 14.8px 40px;   
    }

    .next-placement a {display: none;}

    .techbull {display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #bull1 {
        flex-direction: column;
        gap:20px;
    }

    #bull2 {
        flex-direction: column;
        gap:20px;
    }

    .parcours-list {flex-direction: column;
        margin: 100px 40px;
        PADDING: 0px;}
    
    .presentation-img {display: none;}

    .projetcardpos {display: flex;
        flex-direction: column;
        margin: 100px 30px;
    }
    
    .parcours-title h1 {
    border-left: black 5px solid;
    border-right: black 5px solid;
    border-radius: 50px;
    margin: 0px;
    padding: 14.8px 40px;
    }

    .projets-title h1 {
        border-left: white 5px solid;
        border-right: white 5px solid;
        border-radius: 50px;
        margin: 0px;
        padding: 14.8px 40px;
        
    }
}